header {
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}
nav div h1 {    
    font-size: 30pt;
    text-align:center;
    margin-top: 0em;
    margin-bottom: 0.4em;
    color: rgb(179, 153, 32);
    background-color: #063352;
    text-decoration: none;
}
.row {      
    
    height: 4em;
}

h1 a {
    font-family: 'Koulen', cursive;
    font-size: 30pt;    
    color: rgb(212, 177, 51);
    background-color: none;
    text-decoration: none;
    word-break: keep-all;
}

nav {
    background-color: #063352;
    position: sticky;
    top: 0;
    overflow: hidden;
}

p {
    color: rgb(163, 177, 188);
}

h1 {
    color: #ddd;
}

h2 {
    /*color: #ddd;*/
    color: rgb(245, 248, 246);
    /*background-color: #D6E6F2;*/
}

h3 {
    /*color: #ddd;*/
    color: rgb(245, 248, 246);
    /*background-color: #D6E6F2;*/
}

li a {
    display: block;
    text-align: center;
    padding-top: 5%;
}

footer {
    background-color: #ddd;
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 30px; /* Vertically center the text there */
}

#navbar {
    background-color: #a6afae;
    overflow: hidden;
}

    #navbar a {
        background-color: #a6afae;
        padding: 14px 16px;
        display: block;
        float: left;
        color: black;
        text-decoration: none;
    }

        #navbar a:hover {
            background-color: #063352;
            color: #0bbad7;
        }

#home {
    background-image: url('../../Images/highTechEarthLarge.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#newsbg {
    background: rgb(57,125,152);
    background: linear-gradient(117deg, rgba(57,125,152,1) 0%, rgba(1,26,40,1) 41%, rgba(2,18,27,1) 65%, rgba(1,26,40,1) 78%, rgba(27,79,99,1) 100%);
    background-attachment: fixed;
    background-size: cover;
}

#img400 {
    width: 400px;
}

#img550 {
    width: 550px;
}

#homeresume {
    width: 20%;
    margin-top: 15em;
    margin-left: 1em;
}

#yellow {
    color: #e3ff30;
}

#lightbluewire {
    font-weight: bold;
    color: rgb(22, 95, 150);
}

#gold {
    color: rgb(239, 148, 13);
}

#legenda {
    color: #ddd;
}

#hiperlink {
    color: rgb(14, 169, 26);
}
